In [2]:
import numpy as np
import pandas as pd

In [33]:
data = pd.read_csv("input_data.csv")
del data['Unnamed: 0']
data['date'] = pd.to_datetime(data['date']).dt.year

In [34]:
data.describe()

,percent(t),date,slope(t),elevation(t),canopy_height(t),forest_cover(t),silt(t),sand(t),clay(t),vv(t-3),...,clay(t-2),slope(t-1),elevation(t-1),canopy_height(t-1),forest_cover(t-1),silt(t-1),sand(t-1),clay(t-1),latitude,longitude
count,2615.000000,2615.000000,2615.000000,2615.000000,2615.000000,2615.000000,2615.000000,2615.000000,2615.000000,2615.000000,...,2615.000000,2615.000000,2615.000000,2615.000000,2615.000000,2615.000000,2615.000000,2615.000000,2615.000000,2615.000000
mean,104.217605,2016.860803,2.461754,1180.127342,15.021033,83.546463,13.724665,25.221415,2.486807,-10.286388,...,2.486807,2.461754,1180.127342,15.021033,83.546463,13.724665,25.221415,2.486807,37.504186,-112.705874
std,39.522718,1.017320,2.164092,794.544996,9.870505,36.207692,140.561177,142.619671,138.814608,3.021523,...,138.814608,2.164092,794.544996,9.870505,36.207692,140.561177,142.619671,138.814608,4.461513,8.247381
min,16.000000,2015.000000,0.099110,37.000000,0.000000,14.000000,-999.000000,-999.000000,-999.000000,-44.685406,...,-999.000000,0.099110,37.000000,0.000000,14.000000,-999.000000,-999.000000,-999.000000,28.300000,-123.531389
25%,75.500000,2016.000000,0.815488,451.000000,7.000000,70.000000,21.000000,35.000000,14.000000,-11.841487,...,14.000000,0.815488,451.000000,7.000000,70.000000,21.000000,35.000000,14.000000,34.171667,-119.309722
50%,96.000000,2017.000000,1.899994,1067.000000,17.000000,70.000000,34.000000,41.000000,20.000000,-10.088063,...,20.000000,1.899994,1067.000000,17.000000,70.000000,34.000000,41.000000,20.000000,37.488611,-115.182222
75%,121.500000,2018.000000,3.095040,1756.000000,23.000000,110.000000,38.500000,61.000000,25.000000,-8.729082,...,25.000000,3.095040,1756.000000,23.000000,110.000000,38.500000,61.000000,25.000000,41.096944,-105.818889
max,319.200000,2019.000000,10.661663,3159.000000,36.000000,160.000000,75.000000,75.000000,55.000000,3.400341,...,55.000000,10.661663,3159.000000,36.000000,160.000000,75.000000,75.000000,55.000000,48.413611,-93.822778

In [12]:
data.date.value_counts()

2017    864
2018    809
2016    607
2015    309
2019     26
Name: date, dtype: int64

In [5]:
for i in zip(data.site.value_counts(), data.site.unique()):
    print(i)

(36, 'Blackstone')
(36, 'Hammett')
(36, 'Kuna')
(35, 'Simco')
(35, 'Wild West')
(34, 'Curlew')
(33, 'Double Springs')
(33, 'Dubois')
(33, 'Idaho Falls')
(32, 'Morgan Creek')
(32, 'Pocatello')
(31, 'Rock Spring')
(31, 'Sand Creek Desert')
(31, 'Sellers Creek')
(31, 'Spar Canyon')
(30, 'Table Legs Butte')
(30, 'Sunset Heights')
(30, 'Balanced Rock')
(29, 'Notch Butte')
(27, 'Ohio Gulch')
(27, 'Rye Grass Flat')
(27, 'Shoshone Basin')
(27, 'Three Creek')
(27, 'Three Island')
(27, 'Black Cedar')
(26, 'Big Indian')
(26, 'Price Rec')
(26, 'Muskrat')
(26, 'Maple Canyon')
(25, 'Squaw Peak')
(25, 'Beus')
(24, 'Snowbasin')
(24, 'Lost Creek, WY')
(24, 'RKO Road')
(23, 'Fortynine C2A')
(22, 'Cow Mountain')
(22, 'Reader Ranch')
(21, 'TahoeDonner')
(21, 'Tyler Foote')
(20, 'Corralitos New Growth')
(20, 'Pulgas')
(20, 'Saratoga Summit')
(20, 'Blackberry Hill')
(20, 'Clayton Ranch')
(20, 'Weed Mill Site')
(20, 'Juanita')
(20, 'Oak Knoll')
(20, 'Shinar Saddle')
(20, 'Six Shooter')
(19, 'Deer Hill')
(18, 'Sugar Hill')
(18, 'Quincy RD')
(18, 'McCloud (SHF)')
(18, 'Mad Ridge Fuel Break')
(18, 'Mad River')
(18, 'Ziegler')
(18, 'Tally Lake North')
(18, 'Deep Creek')
(18, 'Benchmark')
(17, 'Sylvan')
(17, 'Tumalo Ridge')
(17, 'Keating Cutoff')
(17, 'Shirttail')
(17, 'Jackson')
(17, 'Keeney')
(17, 'Pole Creek')
(16, 'Rome Overlook')
(16, 'RGFO - Four Mile')
(16, 'D06_Ute Canyon')
(16, 'Grass Mesa')
(15, 'Lookout Mtn')
(15, 'South Canyon')
(15, 'Great Divide')
(15, 'D10 - Flagstaff Mtn. - Cold')
(15, 'D11_Guanella_Pass')
(15, 'D11_Miller_Gulch')
(15, 'Big Horn')
(15, 'Blue Park')
(15, 'Red Feather')
(14, 'D02_Red_Deer')
(14, 'D03_Gibson')
(14, 'D03_Willis_Creek')
(14, 'West Elk Creek')
(14, 'D07_Cimarron River')
(14, 'D07_Cimarron South')
(14, 'Baker Park')
(14, 'Prospect')
(13, 'Hall Creek')
(13, 'Sharpnose')
(13, 'CNTX_Comal_TX')
(13, 'CNTX_Hays_TX')
(13, 'CNTX_McCl_TX')
(13, 'HILL_Edwards2_TX')
(13, 'HILL_Edwards_TX')
(13, 'HILL_Gillespie_TX')
(13, 'HILL_SanSaba_TX')
(13, 'NETX_Wood_TX')
(13, 'NOTX_Hood_TX')
(13, 'NOTX_Palo_TX')
(13, 'RGPL_Dimmit_TX')
(13, 'ROPL_Taylor_TX')
(13, 'SETX_Newt_TX')
(13, 'SETX_SAug_TX')
(13, 'SETX_Tylr_TX')
(12, 'TPEC_Presidio_TX')
(12, 'Big Thicket National Preserve')
(12, 'Lake Hughes')
(12, 'Mt. Baldy Village')
(12, 'Hastings Old Growth')
(12, 'Smith Ranch')
(12, 'Mt. Woodson Station')
(12, 'Lopez Lake')
(12, 'Sonora')
(12, 'Bitter Canyon, Castaic')
(12, 'Clark Motorway, Malibu')
(12, 'Glendora Ridge, Glendora')
(12, 'Trippet Ranch, Topanga')
(12, 'Gifford')
(12, 'Los Alamos')
(12, 'nacimiento')
(12, 'Oak Flat')
(12, 'ponderosa')
(11, 'Reyes Creek')
(11, 'Rose Valley')
(11, 'San Marcos')
(11, 'upper oso')
(11, 'RMV')
(11, 'Cottage')
(11, 'Summit2')
(11, 'Los Robles, Thousand Oaks')
(11, 'Tapo Canyon, Simi Valley')
(10, 'ASF Greer')
(10, 'PNF Cherry')
(9, 'PNF White Spar')
(9, 'CAF Truchas 1')
(9, 'CAF Truchas 2')
(9, 'GNF Lincoln Canyon')
(8, 'LNF Cosmic')
(8, 'LNF Mayhill')
(8, 'LNF Smokey Bear')
(8, 'DUCK CREEK')
(8, 'Lewis Canyon')
(8, 'Lucky Springs')
(8, 'McCoy Ridge')
(8, 'New Jungo')
(7, 'Palisade')
(7, 'Panter')
(7, 'RUTH')
(7, 'Warm Springs')
(5, 'Wells')

In [9]:
for i, j in zipdata.dtypes:
    print(i)

float64
int64
object
float64
int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
int64
float64
float64
float64
float64
int64
int64
int64
float64
float64
float64
float64
int64
int64
int64
float64
float64
float64
float64
float64

In [27]:
# percent = data['percent(t)'].to_numpy()
# del data['percent(t)']
del data['site']

In [11]:
d = data.to_numpy()

In [12]:
d.shape

(2615, 139)

In [28]:
train = data.loc[(data.date >= 2018)]

In [30]:
train

,slope(t),elevation(t),canopy_height(t),forest_cover(t),silt(t),sand(t),clay(t),vv(t-3),vh(t-3),red(t-3),...,clay(t-2),slope(t-1),elevation(t-1),canopy_height(t-1),forest_cover(t-1),silt(t-1),sand(t-1),clay(t-1),latitude,longitude
12,0.599961,1522,0,130,36.0,38.0,26.0,-13.755767,-22.731349,1409.500,...,26.0,0.599961,1522,0,130,36.0,38.0,26.0,42.441111,-115.885556
13,0.599961,1522,0,130,36.0,38.0,26.0,-12.071994,-21.032675,1294.000,...,26.0,0.599961,1522,0,130,36.0,38.0,26.0,42.441111,-115.885556
14,0.599961,1522,0,130,36.0,38.0,26.0,-14.369297,-22.781510,1491.250,...,26.0,0.599961,1522,0,130,36.0,38.0,26.0,42.441111,-115.885556
15,0.599961,1522,0,130,36.0,38.0,26.0,-12.733293,-20.986728,1578.625,...,26.0,0.599961,1522,0,130,36.0,38.0,26.0,42.441111,-115.885556
16,0.599961,1522,0,130,36.0,38.0,26.0,-15.480050,-23.213352,1666.000,...,26.0,0.599961,1522,0,130,36.0,38.0,26.0,42.441111,-115.885556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2603,0.979479,1479,7,130,39.0,42.0,19.0,-13.070842,-21.172728,1556.750,...,19.0,0.979479,1479,7,130,39.0,42.0,19.0,39.789167,-119.686389
2604,0.979479,1479,7,130,39.0,42.0,19.0,-14.147845,-22.350978,1410.500,...,19.0,0.979479,1479,7,130,39.0,42.0,19.0,39.789167,-119.686389
2605,0.979479,1479,7,130,39.0,42.0,19.0,-14.043242,-22.002440,1495.250,...,19.0,0.979479,1479,7,130,39.0,42.0,19.0,39.789167,-119.686389
2606,0.979479,1479,7,130,39.0,42.0,19.0,-14.319087,-22.195318,1580.000,...,19.0,0.979479,1479,7,130,39.0,42.0,19.0,39.789167,-119.686389
2607,0.979479,1479,7,130,39.0,42.0,19.0,-14.697120,-22.231964,1587.500,...,19.0,0.979479,1479,7,130,39.0,42.0,19.0,39.789167,-119.686389

In [29]:
train.drop(['date', 'percent(t)'], axis=1, inplace=True)

C:\Users\sharan\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [31]:
train = train.to_numpy()

In [32]:
train.shape

(835, 138)